pipeline/pipeline6.json
{
	"name": "pipeline6",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable2",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SqlServerTable3",
									"type": "DatasetReference",
									"parameters": {
										"a": {
											"value": "@item().FILENAME",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Sink",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_Auditlog]",
								"storedProcedureParameters": {
									"Destination": {
										"value": {
											"value": "@activity('Lookup1').output.value[2]",
											"type": "Expression"
										},
										"type": "String"
									},
									"ErrorMessage": {
										"value": {
											"value": "@activity('Copy data1').output.errors",
											"type": "Expression"
										},
										"type": "String"
									},
									"ExecutionStatus": {
										"value": {
											"value": "@activity('Copy data1').output.executionDetails[0].Status",
											"type": "Expression"
										},
										"type": "String"
									},
									"FILENAME": {
										"value": {
											"value": "@activity('Lookup1').output.value[0]",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTime": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"Rows_Copied": {
										"value": {
											"value": "@string(if(equals(activity('Copy data1').output.executionDetails[0].status,'Succeeded'),activity('Copy data1').output.rowsRead,'Failed'))\n",
											"type": "Expression"
										},
										"type": "String"
									},
									"Rows_Count": {
										"value": {
											"value": "@string(if(equals(activity('Copy data1').output.executionDetails[0].status,'Succeeded'),activity('Copy data1').output.rowsCopied,'Failed'))",
											"type": "Expression"
										},
										"type": "String"
									},
									"SinkSchema": {
										"value": {
											"value": "@activity('Lookup1').output.value[0].SinkSchema\n",
											"type": "Expression"
										},
										"type": "String"
									},
									"SinkTable": {
										"value": {
											"value": "@activity('Lookup1').output.value[0].SinkTable",
											"type": "Expression"
										},
										"type": "String"
									},
									"Source": {
										"value": {
											"value": "@activity('Lookup1').output.value[0].Source",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceSystem": {
										"value": {
											"value": "@activity('Lookup1').output.value[0].SourceSystem",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceTable": {
										"value": {
											"value": "@activity('Lookup1').output.value[0].SourceTable",
											"type": "Expression"
										},
										"type": "String"
									},
									"Status": {
										"value": {
											"value": "@activity('Copy data1').output.executionDetails[0].Status",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SqlServer1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"modifiedDatetimeStart": "2022-11-21T00:00:00.482Z",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": true,
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Sink",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Sink_2",
									"type": "DatasetReference",
									"parameters": {
										"c": {
											"value": "@item().FILENAME",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Stored procedure2",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data2",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_Auditlog]",
								"storedProcedureParameters": {
									"Destination": {
										"value": {
											"value": "@activity('Lookup1').output.value[2]",
											"type": "Expression"
										},
										"type": "String"
									},
									"ErrorMessage": {
										"value": {
											"value": "@activity('Copy data2').output.errors",
											"type": "Expression"
										},
										"type": "String"
									},
									"ExecutionStatus": {
										"value": {
											"value": "@activity('Copy data2').output.executionDetails[0].Status",
											"type": "Expression"
										},
										"type": "String"
									},
									"FILENAME": {
										"value": {
											"value": "@activity('Lookup1').output.value[0]",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTime": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"Rows_Copied": {
										"value": {
											"value": "@activity('Copy data2').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Rows_Count": {
										"value": {
											"value": "@activity('Copy data2').output.rowsRead",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"SinkSchema": {
										"value": {
											"value": "@activity('Lookup1').output.value[0].SinkSchema",
											"type": "Expression"
										},
										"type": "String"
									},
									"SinkTable": {
										"value": {
											"value": "@activity('Lookup1').output.value[0].SinkTable",
											"type": "Expression"
										},
										"type": "String"
									},
									"Source": {
										"value": {
											"value": "@activity('Lookup1').output.value[0].Source",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceSystem": {
										"value": {
											"value": "@activity('Lookup1').output.value[0].SourceSystem",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceTable": {
										"value": {
											"value": "@activity('Lookup1').output.value[0].SourceTable",
											"type": "Expression"
										},
										"type": "String"
									},
									"Status": {
										"value": {
											"value": "@activity('Copy data2').output.executionDetails[0].Status",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SqlServer1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"k": {
				"type": "Array"
			},
			"A": {
				"type": "String"
			}
		},
		"annotations": []
	}
}