pipeline/pipeline15.json
{
	"name": "pipeline15",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "dummy",
					"value": {
						"value": "@activity('Script1').abc",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "Rowread",
									"type": "Int32",
									"value": null,
									"direction": "Output"
								},
								{
									"name": "Rowcount",
									"type": "Int32",
									"value": null,
									"direction": "Output"
								},
								{
									"name": "pipelinetriggertime",
									"type": "Datetime",
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "TableName",
									"type": "String",
									"value": "Source_tblname",
									"direction": "Input"
								}
							],
							"type": "Query",
							"text": "exec sp_deltaload @pipelinetriggertime = @pipelinetriggertime, @TableName = @TableName, @Rowread = @Rowread output , @Rowcount= @Rowcount output"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"dummy": {
				"type": "String"
			}
		},
		"annotations": []
	}
}