pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Lookup_tbl",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[ful_load]",
					"storedProcedureParameters": {
						"SinkSchemaName": {
							"value": "stg",
							"type": "String"
						},
						"SinkTableName": {
							"value": "Employee",
							"type": "String"
						},
						"SourceSchemaName": {
							"value": "Source",
							"type": "String"
						},
						"SourceTableName": {
							"value": "Employee",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stored procedure2",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Stored procedure1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SPF]",
					"storedProcedureParameters": {
						"RES": {
							"value": {
								"value": "@activity('Lookup1').output.value[0].SourceTableName",
								"type": "Expression"
							},
							"type": "String"
						},
						"REST": {
							"value": {
								"value": "@activity('Lookup1').output.value[0].SinkTableName",
								"type": "Expression"
							},
							"type": "String"
						},
						"sink": {
							"value": {
								"value": "@activity('Lookup1').output.value[1].SinkSchemaName",
								"type": "Expression"
							},
							"type": "String"
						},
						"source": {
							"value": {
								"value": "@activity('Lookup1').output.value[0].SourceSchemaName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}