pipeline/PL_SUB_SAP_DEPENDENT_DELTA_LOAD.json
{
	"name": "PL_SUB_SAP_DEPENDENT_DELTA_LOAD",
	"properties": {
		"activities": [
			{
				"name": "ForEach2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LOOKUP_DEPENDENT_DELTA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LOOKUP_DEPENDENT_DELTA').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "LOOKUP_FINAL",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "SELECT CONCAT('VBELN IN',STRING_AGG (CONVERT(NVARCHAR(MAX),''''+ VBELN +'''') ,',')) AS DOCUMENTNUMBER FROM DBO.VBRK\nUNION\nSELECT CONCAT('VBELN IN',STRING_AGG (CONVERT(NVARCHAR(MAX),''''+ VBELN +'''') ,',')) AS DOCUMENTNUMBER FROM DBO.VBAK\nUNION\nSELECT CONCAT('VBELN IN',STRING_AGG (CONVERT(NVARCHAR(MAX),''''+ VBELN +'''') ,',')) AS DOCUMENTNUMBER FROM DBO.LIKP\nUNION\nSELECT CONCAT('EBELN IN',STRING_AGG (CONVERT(NVARCHAR(MAX),''''+ EBELN +'''') ,',')) AS DOCUMENTNUMBER FROM DBO.EKKO\n",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SqlServerTable2",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "CP_SOURCE_TO_STG",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "LOOKUP_FINAL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SapTableSource",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SapTableResource1",
									"type": "DatasetReference",
									"parameters": {
										"a": {
											"value": "@item().Source_tblname",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SAP_FULL_LOAD_SINK",
									"type": "DatasetReference",
									"parameters": {
										"b": {
											"value": "@item().Source_tblname",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CP_SOURCE_TO_STG",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_dependent_deltaload]",
								"storedProcedureParameters": {
									"pipelinetriggertime": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"TableName": {
										"value": {
											"value": "@item().Source_tblname",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SqlServer1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "LOOKUP_DEPENDENT_DELTA",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select * from SAP_LOOKUP2 WHERE Loadtype= 'DependentDelta'\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SAP_LOOKUP_FINAL",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_SUB_SAP_DELTA_LOAD",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"variables": {
			"Trigger_time": {
				"type": "String"
			}
		},
		"annotations": []
	}
}