pipeline/PL_SP_AUDIT_LOG.json
{
	"name": "PL_SP_AUDIT_LOG",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT * FROM  SAP_LOOKUP2  WHERE Loadtype= 'Full'\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SAP_LOOKUP_FINAL",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "SAP_TO_STG",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SapTableSource",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SapTableResource1",
									"type": "DatasetReference",
									"parameters": {
										"a": {
											"value": "@item().Source_tblname",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SAP_FULL_LOAD_SINK",
									"type": "DatasetReference",
									"parameters": {
										"b": {
											"value": "@item().Source_tblname",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SP_AUDIT_LOG_STG",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "SAP_TO_STG",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_Auditlog]",
								"storedProcedureParameters": {
									"ActivityEndTime": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"ActivityStartTime": {
										"value": {
											"value": "@activity('SAP_TO_STG').output.ExecutionDetails[0].start",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"CopyDurationInSecs": {
										"value": {
											"value": "@activity('SAP_TO_STG').output.copyDuration\n",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"DestinationSchema": {
										"value": {
											"value": "@item().Destinationtblschema",
											"type": "Expression"
										},
										"type": "String"
									},
									"ExecutionStatus": {
										"value": {
											"value": "@item().ExecutionFlag",
											"type": "Expression"
										},
										"type": "String"
									},
									"Message": {
										"value": {
											"value": "@activity('SAP_TO_STG').output.errors",
											"type": "Expression"
										},
										"type": "String"
									},
									"rowsCopied": {
										"value": {
											"value": "@string(if(equals(activity('SAP_TO_STG').output.executionDetails[0].status,'Succeeded'),activity('SAP_TO_STG').output.rowsRead,'Failed'))",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RowsRead": {
										"value": {
											"value": "@string(if(equals(activity('SAP_TO_STG').output.executionDetails[0].status,'Succeeded'),activity('SAP_TO_STG').output.rowsCopied,'Failed'))",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceSystem": {
										"value": {
											"value": "@activity('SAP_TO_STG').output.executionDetails[0].source.type",
											"type": "Expression"
										},
										"type": "String"
									},
									"TableName": {
										"value": {
											"value": "@item().Source_tblname",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SqlServer1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Script1",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "SAP_TO_STG",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "SqlServer1",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"parameters": [
											{
												"name": "Rowread",
												"type": "Int32",
												"value": null,
												"direction": "Output"
											},
											{
												"name": "Rowcount",
												"type": "Int32",
												"value": null,
												"direction": "Output"
											},
											{
												"name": "pipelinetriggertime",
												"type": "Datetime",
												"value": {
													"value": "@pipeline().TriggerTime",
													"type": "Expression"
												},
												"direction": "Input"
											},
											{
												"name": "TableName",
												"type": "String",
												"value": {
													"value": "@item().Source_tblname",
													"type": "Expression"
												},
												"direction": "Input"
											}
										],
										"type": "Query",
										"text": "exec sp_deltaload @pipelinetriggertime = pipelinetriggertime, @TableName = TableName, @Rowread = @RowsRead output , @Rowcount = @rowsCopied output"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"variables": {
			"dummy": {
				"type": "String"
			}
		},
		"annotations": []
	}
}